.au-c-textarea--error {
  border: .3rem solid $au-red-600;
}

.road-sign-concept-details {
  .au-c-data-table {
    overflow: visible;
    height: auto;
  }
}

// Loket seems to add this class so we mimic it here, but I'm sure there is a solution we can add to Appuniversum
.au-c-toolbar__group--row {
  display: block;
  width: 100%;
}

.no-flex-shrink {
  flex-shrink: 0;
}

.flex-content-between {
  display:flex;
  align-items: center;
  justify-content: space-between
}

td {
  vertical-align: top;
}

.au-c-close {
  position: absolute;
  appearance: none;
  border: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  top: $au-unit-small;
  right: $au-unit-small;
  color: $au-gray-700;

  &:hover {
    color: $au-gray-600;
  }

  &:focus {
    outline: $au-outline;
  }
}

.au-c-close--large {
  top: $au-unit;
  right: $au-unit;
}

