.au-c-textarea--error {
  border: 0.3rem solid $au-red-600;
}

// Loket seems to add this class so we mimic it here, but I'm sure there is a solution we can add to Appuniversum
.au-c-toolbar__group--row {
  display: block;
  width: 100%;
}

.au-c-close {
  position: absolute;
  appearance: none;
  border: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  top: $au-unit-small;
  right: $au-unit-small;
  color: $au-gray-700;

  &:hover {
    color: $au-gray-600;
  }

  &:focus {
    outline: $au-outline;
  }
}

.au-c-close--large {
  top: $au-unit;
  right: $au-unit;
}

// Sign container
.au-c-sign-container {
  position: relative;
  padding: $au-unit-small;
  height: 100%;
}

.au-c-sign-container__delete {
  position: absolute;
  color: $au-red-600;
  font-weight: bold;
  font-size: 12px;
  border: none;
  cursor: pointer;
  margin: none;
  right: 0;
  top: 0;
}

// Quick fix for multiple tables inside a container
.au-c-body-container--tables {
  .au-c-data-table {
    display: block;
    overflow: initial;
    flex-grow: initial;
    height: initial;
  }
}

.signs-container {
  display: flex;
  flex-direction: row;
}

// Smaller font size for the breadcrumbs toolbar
.au-c-toolbar--breadcrumbs {
  font-size: $au-base;
}

// Theme
.au-c-theme-gray-100 {
  background-color: $au-gray-100;
}

.au-c-theme-gray-200 {
  background-color: $au-gray-200;
}

.au-c-pre {
  white-space: pre-wrap;
}

.au-o-grid--split {
  @include mq(medium) {
    height: 100%;
    overflow: hidden;

    > .au-o-grid__item {
      height: 100%;
    }
  }
}

.au-c-table__row--centered {
  td {
    vertical-align: center;
  }
}

.table-centered-content {
  td {
    vertical-align: middle;
  }
}

// Drag button
.au-c-button--drag {
  cursor: grab;
  padding: $au-unit-small + 0.4rem 0;

  .au-c-icon {
    width: 2rem;
    height: 2rem;
    bottom: 0;
  }
}

// Custom select
.au-c-custom-select {
  @include au-font-size($au-base);
  font-family: $au-font;
  width: 100%;
  padding: $au-unit-tiny;
  background-color: $au-white;
  border: 1px solid $au-gray-400;
  border-radius: 0.2rem;
}

.au-o-flex {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;

  .au-c-button {
    flex: none;
  }

  > * + * {
    margin-left: $au-unit-tiny;
  }
}

.au-o-flex--center {
  align-items: center;
}

.au-u-flex-center {
  display: flex;
  align-items: center;
}

.full-width {
  width: 100%;
}

// Helptext list
.au-c-list-help {
  margin-top: $au-unit-tiny;
  padding: $au-unit-tiny;
  background-color: $au-gray-200;
  border-radius: $au-radius;
  border: 0.1rem solid $au-gray-300;
}

.au-c-list-help__item {
  position: relative;
  padding-left: $au-unit-small;

  &:before {
    content: '-';
    position: absolute;
    left: 0;
    top: 0;
  }
}

// Override small data table when used in cards
.au-c-data-table__table--small {
  .au-c-card & th:first-child,
  .au-c-card & td:first-child {
    padding-left: $au-unit-tiny;
  }

  .au-c-card & tr:last-child {
    border-bottom: 0;
  }
}

.au-c-card .au-c-data-table__wrapper {
  border-top: 0;
}

.au-c-table-wrapper .au-c-table tr:last-child {
  border-bottom: 0;
}

// No prefix
.no-flex-shrink {
  flex-shrink: 0;
}

.flex-content-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

td {
  vertical-align: top;
}

/* fix the table for the sparql querier */

table.dataTable tbody td,
table.dataTable tbody th {
  min-width: 2rem;
}

.yasgui .controlbar {
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.yasgui .autocompleteWrapper {
  display: none !important;
}

// Utilities based on Tailwind <3
.flex {
  display: flex !important;
}

.flex-grow {
  flex-grow: 1 !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.self-center {
  align-self: center !important;
}

.au-c-action-sidebar__item {
  border-bottom: 1px solid $au-sidebar-border;
}

.max-w-prose {
  max-width: 65ch !important;
}

.w-px {
  width: 1px !important;
}

.u-rounded {
  border-radius: var(--au-radius);
}

.u-border-solid {
  border-style: solid;
}

.u-border-divider {
  border-color: var(--au-divider-color);
}

.u-border-l {
  border-left-width: 0.1rem;
}

// Fix app with environment banner @TODO: rework app component
.au-c-app--environment {
  // Fix main container height
  .au-c-main-container {
    height: calc(100vh - 92px);
  }

  // Fix sidebar offset
  .au-c-meeting-sidebar {
    top: 14.8rem;
  }
}

// road sign shapes select
#shapes {
  min-width: 24rem;
}

.checkerboard-background {
  width: fit-content;
  background: url('images/checkerboard.png') repeat;
  background-size: 100px 100px;
  padding: 10px;

  &.image-preview {
    border: none;
  }
}
