.au-c-textarea--error {
  border: .3rem solid $au-red-600;
}

// .road-sign-concept-details {
//   .au-c-data-table {
//     overflow: visible;
//     height: auto;
//   }
// }

// Loket seems to add this class so we mimic it here, but I'm sure there is a solution we can add to Appuniversum
.au-c-toolbar__group--row {
  display: block;
  width: 100%;
}

.no-flex-shrink {
  flex-shrink: 0;
}

.flex-content-between {
  display:flex;
  align-items: center;
  justify-content: space-between
}

td {
  vertical-align: top;
}

.au-c-close {
  position: absolute;
  appearance: none;
  border: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  top: $au-unit-small;
  right: $au-unit-small;
  color: $au-gray-700;

  &:hover {
    color: $au-gray-600;
  }

  &:focus {
    outline: $au-outline;
  }
}

.au-c-close--large {
  top: $au-unit;
  right: $au-unit;
}

.road-sign-code-search {
  width: 10rem;
  min-width: unset;
}

.road-sign-meaning-search {
  min-width: unset;
}

.category-select {
  min-width: 24rem;
}

// Utilities based on Tailwind <3
.flex {
  display: flex !important;
}

.flex-grow {
  flex-grow: 1 !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.self-center {
  align-self: center !important;
}

.au-c-action-sidebar__item {
  border-bottom: 1px solid $au-sidebar-border;
}

.max-w-prose {
  max-width: 65ch !important;
}

.w-px {
  width: 1px !important;
}

.delete-sign-button {
  position: absolute;
  color: red;
  font-weight: bold;
  font-size: 12px;
  border: none;
  cursor: pointer;
  margin: none;
  right: 0;
  top: 0;
}

.sign-container {
  width: fit-content;
  height: fit-content;
  position: relative;
  padding: 10px;
}

.signs-container {
  display: flex;
  flex-direction: row;
}


// Quick fix for multiple tables inside a container
.au-c-body-container--tables {
  .au-c-data-table {
    display: block;
    overflow: initial;
  }
}

// Smaller font size for the breadcrumbs toolbar
.au-c-toolbar--breadcrumbs {
  font-size: $au-base;
}
