<div class="file-upload au-c-button au-c-button--secondary">
  <label for="upload">
    {{t "utility.upload"}}
  </label>
  <input id="upload" type="file" class="file-upload__input" accept={{this.accept}} {{on "change" @onFileSet }}>
</div>
