<AuToolbar @border="bottom" @size="medium" @skin="tint" class="au-c-toolbar--breadcrumbs" as |Group|>
  <Group>
    <BreadcrumbsContainer
      class="au-c-breadcrumbs au-c-list-horizontal"
      @itemClass="au-c-breadcrumbs__item au-c-list-horizontal__item"
      @linkClass="au-c-breadcrumbs__link au-c-link"
    >
      <li class="au-c-list-horizontal__item">
        <AuLink @route="index" @icon="arrow-left" @iconAlignment="left">
          {{t "utility.back-to-overview"}}
        </AuLink>
      </li>
      <li class="au-c-list-horizontal__item">
        <CompactMenu/>
      </li>
    </BreadcrumbsContainer>
  </Group>
</AuToolbar>