{{page-title (t "landingPage.appName")}}

<AuMainHeader
  @brandLink="https://www.vlaanderen.be/nl"
  @homeRoute="index"
  @appTitle="MOW Registry"
/>


<main class="au-c-main-container">
  <div class="au-c-main-container__content au-c-main-container__content--scroll">
    {{outlet}}
  </div>
</main>