<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-u-2-5@medium">
        <div class="au-c-content au-u-margin-bottom">
          <AuHeading @skin="2">
            {{t "utility.app-name"}}
          </AuHeading>
          <AuLoader @size="small" />
        </div>
      </div>
    </div>
  </div>
</div>