<div class="au-c-main-container" itemprop="mainContentOfPage">
  <div class="au-c-main-container__content au-c-main-container__content--scroll">
    {{#if this.showSimpleLogin}}
      <main id="content">
        <div class="au-o-region-large">
          <div class="au-o-layout">
            <AuHeading @skin="4" class="au-u-margin-bottom-small">{{t 'login.login'}}</AuHeading>
            <MuLogin />
          </div>
        </div>
      </main>
    {{else}}
      <AcmidmLoginIframe />
    {{/if}}
  </div>
</div>
