{{page-title (t "landingPage.measures.title")}}

<BreadcrumbsItem as |linkClass|>
  <LinkTo @route="measure-concepts.index" class={{linkClass}}>
    {{t "landingPage.measures.title"}}
  </LinkTo>
</BreadcrumbsItem>

<div class="au-c-body-container au-c-body-container--scroll">
  {{outlet}}
</div>