{{page-title (t "measureConcept.name")}}

<BreadcrumbsItem as |linkClass|>
  <LinkTo @route="measure-concepts.index" class={{linkClass}}>
    {{t "measureConcept.name"}}
  </LinkTo>
</BreadcrumbsItem>

<div class="au-c-body-container au-c-body-container--scroll">
  <NavigationBar />
  {{outlet}}
</div>