{{page-title (t "roadsignconcept.app")}}

<BreadcrumbsItem as |linkClass|>
  <LinkTo @route="road-sign-concepts.index" class={{linkClass}}>
    {{t "roadsignconcept.app"}}
  </LinkTo>
</BreadcrumbsItem>

<div class="au-c-body-container au-c-body-container--scroll">
  {{outlet}}
</div>
