{{page-title (t "road-marking-concept.name")}}

<BreadcrumbsItem as |linkClass|>
  <LinkTo @route="road-marking-concepts.index" class={{linkClass}}>
    {{t "road-marking-concept.name"}}
  </LinkTo>
</BreadcrumbsItem>

<div class="au-c-body-container au-c-body-container--scroll">
  <NavigationBar />
  {{outlet}}
</div>