<div class="au-o-layout au-o-layout--large">
  <div class="au-o-region-large">
    <AuHeading @level="1" @skin="1" class="au-u-margin-bottom">{{t "sparql.name"}}</AuHeading>
    <div {{yasgui}}></div>
  </div>
</div>