{{! @glint-nocheck: not typesafe yet }}
{{page-title (t "traffic-light-concept.name")}}

<BreadcrumbsItem as |linkClass|>
  <LinkTo @route="traffic-light-concepts.index" class={{linkClass}}>
    {{t "traffic-light-concept.name"}}
  </LinkTo>
</BreadcrumbsItem>

<div class="au-c-body-container au-c-body-container--scroll">
  <NavigationBar />
  {{outlet}}
</div>